<!DOCTYPE html>

{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href=" {%static 'userapp/css/style.css'%} " /> 
    
<script
src="https://code.jquery.com/jquery-3.5.1.js"
integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>
{% block head %}

{%endblock%}

<link rel="icon" href="https://cdn3.iconfinder.com/data/icons/ui-ux-essentials-solid/24/unlocked-solid-512.png" type="image/icon type"/>
  </head>   
<body>
<style>
</style>
<div style="width: 100vw;height: 100%; background-color: #f0eded; display: flex;" class="body" >
<div class="top">
  <div style="margin-left: 30px;" class="logo"> <img  style="height: 70px; width: 70px;" src="{% static 'userapp/images/logo.png' %}"></div>
  <div style="padding-left: 40px;" class="home "> <a style="text-decoration: none;" href="/home/"><h4 style=" color: white; padding-top: 20px;">Home</h4> </a> </div>
 
  {% block category %} {% endblock %} 
      
        <div class="col-md-4 col-md-offset-3">
            <form action="" style="padding-top: 24px;" class="search-form">
                <div class="form-group has-feedback">
            		<label for="search" class="sr-only">Search</label>
            		<input type="text" class="form-control" name="search" id="search" placeholder="search">
              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
            	</div>
            </form>
        </div>
  
        <!-- <div style="padding-left: 40px;" class="login "> <h4 style="padding-top: 20px;">Login</h4></div> -->
        <div class="dropdown">
          <button class="dropbtn"style="padding-left: 40px;"><i style="font-size: 20px; padding-top: 19px; padding-left: 5px;" class="fas fa-user-circle"></i></h4>
            
          </button>
          <div class="dropdown-content"> 
            <a href="/user_profile/">My Profile</a>
            <a href="/user_order_history/">order History</a>
            <a href="/user_logout/">logout</a>
            
          </div>
          
        </div>
        <div><h4 style=" padding-top: 35px; font-size: 15px; justify-content: space-between;" > Hi,{{user.username}} </h4> </div>

        <div><a href="/show_cart/"><i style=" padding-left: 5rem; padding-top: 35px; font-size: 15px; justify-content: space-between;" class="cart fas fa-shopping-cart"></i></a></div>
        <span style="margin-top: 18px; margin-bottom: 35px;padding-top: 4px;" class="badge badge-danger">{{no}}</span>


        </div>
{% block content %}
{%endblock%}


        {% block product %}{% endblock %}

</div>
{% block address%} {%endblock%}


<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
>

</script>


</body>

</html>
