{% extends 'userapp/base_user.html'%}



{% block category %}
<div class="dropdown">
  <button class="dropbtn"style="padding-left: 40px;"><h4 style="padding-top: 7px;">Categories<i style="padding-left: 5px;;" class="fa fa-caret-down"></i></h4>
    
  </button>
  <div class="dropdown-content">
    {% for x in category_data%}
    <a href="/category/{{x.id}}">{{x.categoryname}}</a>
    {% endfor %}
    
  </div>
</div>
{% endblock %} 

{% block content %}

<div style="    padding-top: 6rem;" class="container">
	<div class="row">
		
        
        
       <div class="col-md-7 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >User Profile</h4></div>
   <div class="panel-body">
       
    <div class="box box-info">
        
            <div class="box-body">
                     <div class="col-sm-6">
                     <div > <img alt="User Pic" src="{{userdetails.ImageURL}}" id="profile-image1" class="img-circle img-responsive"> 
                <form method="POST" action="{% url 'userprofile' %}" enctype="multipart/form-data">
                  {% csrf_token%}

                <input id="profile-image-upload" name="profile-image-upload" type="file"  onchange="viewImage(event)" >

                <!--Upload Image Js And Css-->
                     </div>
              
              <br>
    
              <!-- /input-group -->
            </div>
            <div class="col-sm-6">
            <h3 style="color:#00b1b1;">{{user.username}} </h3></span>
              <span><p>Customer</p></span>            
            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">
    
              
<div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6 "> <input type="text" value="{{user.first_name}}" name="name" id=""> </div>
     <div class="clearfix"></div>
<div class="bot-border"></div>


<div class="col-sm-5 col-xs-6 tital " >Mobile Number:</div><div class="col-sm-7"> <input type="text" value="{{user.last_name}}" name="mobile" id=""></div>
  <div class="clearfix"></div>
<div class="bot-border"></div>

<div class="col-sm-5 col-xs-6 tital " >Email</div><div class="col-sm-7"><input type="text" value="{{user.email}}" name="email" id=""></div>

  <div class="clearfix"></div>
<div class="bot-border"></div>
<div> <button class="btn-success btn-lg" style="float: right;" type="submit">Save</button></div>
<div class="clearfix"></div>
<div class="bot-border"></div>
            <!-- /.box-body -->
          </div>
        </form>
          <!-- /.box -->

        </div>
       
            
    </div> 
    </div>
</div>  

<style>
  body{
    font-size: medium;
  }
</style>


{%endblock%}       
     
   </div>
</div>


{% block script %}
    <script>

              $(function() {
    $('#profile-image1').on('click', function() {
        $('#profile-image-upload').click();
    });
}); 
function viewImage(event){
        document.getElementById('profile-image1').src = URL.createObjectURL(event.target.files[0])  
        }    
              </script> 
               {%endblock%}
       