{% extends 'userapp/guest_home.html' %}

  

{%block head%}

{%endblock%}
{% block login%}
{% endblock%}

{% block account %}
<div class="dropdown">
  <button class="dropbtn"style="padding-left: 40px;"><i style="font-size: 20px; padding-top: 19px; padding-left: 5px;" class="fas fa-user-circle"></i></h4>
    
  </button>
  <div class="dropdown-content">
    <a href="/user_profile/">My Profile</a>
    <a href="/user_order_history/">order History</a>
    <a href="/user_logout/">logout</a>
    
  </div>
  
</div>
{%endblock%}

{% block content %}

<div id="card-container">
  <div class="row container-fluid">
    {%for x in product_data%} 
    <div class="card " style="width: 10rem mr-5;margin-top: 40px;margin-left: 15px;">
      <img class="card-img-top" src="{{x.ImageURL}}" alt="Card image cap" style="height: 200px; width: 200px;">
      <div class="card-body">
        <h5 class="card-title">{{x.productname}}</h5>
        <p class="card-text">{{x.productdesc}}</p>
	<h6> price: {{x.price}}₹</h6><br>
        <a href="/user_cart/{{x.id}}" class="btn btn-primary">Add to cart</a>
        <a href="/product_view/{{x.id}}" class="btn btn-success">View</a>
      </div>
    </div>
    {%endfor%}
  </div>
</div>

{%endblock%}

{%block script%}
<script>
$(document).ready(function(){
  {% for message in messages %}
alert('{{message}}')
{% endfor %}

});
</script>
{%endblock%}